!!!
%html.has-navbar-fixed-top.light-mode
  %head
    -# Basic Needs
    %meta{charset: "utf-8"}
    %title Pokedex | Luis Osnet
    %meta{ name: "description", content: 'Luis Osnet' }
    %meta{ name: "author", content: 'Luis Osnet' }
    %meta{ name: "owner", content: 'Luis Osnet' }
    -# Humans
    %link{ type: "text/plain", rel: "author", href: "https://luisosnet.com/humans.txt" }
    %meta{ name: "Copyright", content: 'Luis Osnet' }
    %meta{ name: "robots", content: "all", href: "https://luisosnet.com/robots.txt" }
    -# Favicons
    %link{ rel: 'icon', type: "image/png", sizes: '16x16 32x32 48x48 64x64', href: '/favicons/favicon.ico' }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "152x152", href: "/favicons/apple-touch-icon-152x152.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/favicons/apple-touch-icon-144x144.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "120x120", href: "/favicons/apple-touch-icon-120x120.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/favicons/apple-touch-icon-114x114.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "76x76", href: "/favicons/apple-touch-icon-76x76.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/favicons/apple-touch-icon-72x72.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "60x60", href: "/favicons/apple-touch-icon-60x60.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "/favicons/apple-touch-icon-57x57.png" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-196x196.png", sizes: "196x196" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-128.png", sizes: "128x128" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-96x96.png", sizes: "96x96" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-32x32.png", sizes: "32x32" }
    %link{ rel: "icon", type: "image/png", href: "/favicons/favicon-16x16.png", sizes: "16x16" }
    %meta{ name: "application-name", content: t('.company_name') }
    %meta{ name: "msapplication-TileColor", content: "#FFFFFF" }
    %meta{ name: "msapplication-square310x310logo", content: "mstile-310x310.png" }
    %meta{ name: "msapplication-wide310x150logo", content: "mstile-310x150.png" }
    %meta{ name: "msapplication-square150x150logo", content: "mstile-150x150.png" }
    %meta{ name: "msapplication-TileImage", content: "mstile-144x144.png" }
    %meta{ name: "msapplication-square70x70logo", content: "mstile-70x70.png" }
    -# Mobile Specific Metas
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv': "x-ua-compatible", content: "ie=edge, chrome=1" }
    -# og tags Facebook
    %meta{ property: "fb:admins", content: "904862066288762" }
    %meta{ property: "og:description", content: 'Luis Osnet' }
    %meta{ property: "og:title", content: 'Luis Osnet' }
    %meta{ property: "og:type", content: "https://luisosnet.com" }
    %meta{ property: "og:url", content: "https://luisosnet.com" }
    %meta{ property: "og:image", content: "https://luisosnet.com/wp-content/uploads/2020/05/IMG_7616-1920x1440.jpg" }
    %meta{ property: "og:site_name", content: 'Luis Osnet' }
    -# Twitter Cards
    %meta{ property: "twitter:account_id", content: "1238060450" }
    %meta{ name: "twitter:card", content: "https://luisosnet.com/wp-content/uploads/2020/05/IMG_7616-1920x1440.jpg" }
    %meta{ name: "twitter:site", content: "@LuisOsnet" }
    %meta{ name: "twitter:title", content: "Luis Osnet" }
    %meta{ name: "twitter:description", content: "I’m Luis Osnet I’m a software engineer focused on the Ruby on Rails ecosystem. Graduated in Computer Systems Engineering" }
    %meta{ name: "twitter:creator", content: "@LuisOsnet" }
    %meta{ name: "twitter:image:src", content: "https://luisosnet.com/wp-content/uploads/2020/05/IMG_7616-1920x1440.jpg" }
    %meta{ name: "twitter:domain", content: "https://luisosnet.com" }
    -# og tags Google+
    %meta{ itemprop: "name", content: "Luis Osnet" }
    %meta{ itemprop: "description", content: "I’m Luis Osnet I’m a software engineer focused on the Ruby on Rails ecosystem. Graduated in Computer Systems Engineering" }
    %meta{ itemprop: "image", content: "https://luisosnet.com/wp-content/uploads/2020/05/IMG_7616-1920x1440.jpg" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"}

  %body
    = render template: "layouts/_nav"
    = yield